h1 {                  /*(0/0/0/1) */
    color: blue; 
}
#title {             /*(0/1/0/0) */
    color: red;
}
.page-title {        /*(0/0/1/0) */
    color: green;
}

a{
    color: gray;
}
.discount  {
    color: orange;
}
.sibling p+p{
    color: rgb(244, 248, 207);
}
#title.page-title
{
    color: green;
}